body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/019/814/606/non_2x/abstract-background-hand-drawing-various-shapes-and-doodle-objects-trendy-modern-contemporary-illustration-every-background-is-isolated-pastel-color-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}